<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Edit Products</title>
</head>

<body class="p-3 mb-2 bg-info text-dark">
    <h1>Update Product</h1>
    <form action="/update" method="post">
        <input type="hidden" name="txtId" value="{{product._id}}">
        Name : <input type="text" name="txtName" value="{{product.name}}">
        <Br>
        Price : <input type="text" name="txtPrice" value="{{product.price}}">
        <br />
        Picture : <input type="text" name="txtURL" value="{{product.url}}">
        <span style="color: red;">{{picError}}</span>
        <br>
        <input type="submit" value="Update">
    </form>
</body>

</html>