<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <title>Home</title>
  <style>
    .myDiv {
      border: 5px outset red;
      background-color: lightblue;
      text-align: center;
    }
  </style>
</head>
<hr>
{{now}}

<body class="test">
  <header>
    <!-- open header -->
    <nav>
      <div class="nav-left">
        <ul id="desktop-nav-left">
          <a href="/">HOME</a>
        </ul>
      </div>
    </nav>

    <h1 class="test" style="text-align: center;">This is Home Page</h1>
    <div style="text-align: center;">
      <a href="">
        <img src="img/qc1.jpg" alt="qc1">
      </a>
    </div>
  </header>
  <!-- close header -->
  <hr>
  <div>
    <h2 style="background-color: black;">Insert Product</h2>
  </div>
  <main>
    <div style="width: 50%, text-align: center;">
      <form style="text-align: center;" action="/insert" method="post">
        <div class="mb-3">
          <label class="form-label" for="txtName"> Product Name</label>
          <input type="text" class="form-control" name="txtName" id="txtName">
          <span style="color: red;">{{nameError}}</span>

        </div>
        <div class="mb-3">
          <label class="form-label" for="txtPrice"> Price</label>
          <input type="text" class="form-control" name="txtPrice" id="txtPrice">
          <span style="color: red;">{{priceError}}</span>

        </div>
        <div class="mb-3">
          <label class="form-label" for="txtURL"> Picture</label>
          <input type="text" class="form-control" name="txtURL" id="txtURL">
          <span style="color: red;">{{picError}}</span>
        </div>
        <input type="submit" class="btn btn-primary" value="Insert">
      </form>
    </div>

    <hr>

    <div class="row row-cols-1 row-cols-md-5 g-6">
      {{#each products}}
      <div class="col">
        <div class="card h-100" style="width: 18rem;">
          <img src="{{picURL}}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Id : {{_id}}</a></h5>
            <p class="card-text">Product's name : {{name}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price : {{price}}</li>
          </ul>
          <div class="card-body">
            <a href="/edit/{{_id}}">Edit</a>
            <hr>
            <a onclick=" return confirm('Are you sure?')" href="/delete/{{_id}}">Delete</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </main>

</body>

</html>